.header {
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: var(--p-header-background);

  &__container {
    max-width: 112rem;
    margin: 0 auto;
    padding: 0 1rem;

    @media (min-width: 640px) {
      padding: 0 1.5rem;
    }
    @media (min-width: 1024px) {
      padding: 0 2rem;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: relative;
  }

  &__title {
    display: flex;
    gap: 0.75rem;
    min-width: 0;
    flex-shrink: 0;

    h1 {
      font-size: 1.125rem;
      font-weight: 700;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (min-width: 640px) {
        font-size: 1.25rem;
      }
    }
  }

  &__tasks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__tasks-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: default;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;

    i {
      font-size: 1.25rem;
    }
  }

  &__tasks-badge {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
    border-radius: 9999px;
    background-color: #ef4444;
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.2s ease;

    span {
      font-size: 0.875rem;
      font-weight: 600;
    }

    i {
      font-size: 0.625rem;
    }
  }

  &__tasks p-button {
    height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}