@let filterConfig = config();

<p-card class="mb-4">
  @if (filterForm(); as form) {
    <form [formGroup]="form" class="flex flex-wrap gap-4">
      @for (filter of filterConfig; track filter.key) {
        <div>
          @switch (filter.type) {
            @case (filterType.SELECT) {
              <div [ngStyle]="{ width: filter.width }">
                <p-select
                  [options]="getSelectOptions(filter)"
                  [formControlName]="filter.key"
                  [placeholder]="getPlaceholder(filter.placeholder)"
                  [optionLabel]="'label'"
                  [optionValue]="'value'"
                  [showClear]="true"
                  class="w-full"
                />
              </div>
            }
            @case (filterType.DATE) {
              <p-datepicker
                [formControlName]="filter.key"
                [placeholder]="getPlaceholder(filter.placeholder)"
                dateFormat="yy-mm-dd"
                [showIcon]="true"
                [showClear]="true"
                [class]="filter.width || 'w-full'"
              />
            }
          }
        </div>
      }

      <div class="flex items-end">
        <p-button
          type="button"
          outlined="true"
          class="p-button-text text-sm"
          (click)="resetFilters()"
        >
          {{ defaultButtonReset | translate }}
        </p-button>
      </div>
    </form>
  }
</p-card>
