<p-toast position="top-right" />

@let user = currentUser();
@let taskCount = tasksFacade.count();
@let tasks = tasksFacade.filteredTasks();

<div class="board">
  @if (user) {
    <tb-header [user_]="user" [taskCount_]="taskCount" (addTaskClick)="onAddTask()" />

    <main class="board__main">
      <tb-filters
      [config]="taskFiltersConfig()"
      (filtersChanged)="onFiltersChanged($event)"
    />
      <tb-user-tasks [user_]="user" [tasks_]="tasks"/>
    </main>
  } @else {
    <div class="board__loading">
      <div class="board__loading-content">
        <i class="pi pi-spin pi-spinner board__loading-icon text-primary"></i>
        <p class="text-surface-600">Ładowanie danych użytkownika...</p>
      </div>
    </div>
  }
</div>
