<p-toast position="top-right" />

@let user = currentUser$ | async;
@let tasks = tasksFacade.filteredTasks();

<div class="min-h-screen bg-surface-50">
  @if (user) {
    <tb-header [user_]="user" (addTaskClick)="onAddTask()" />

    <main class="p-6">
      <tb-filters 
      [config]="taskFiltersConfig()"
      (filtersChanged)="onFiltersChanged($event)"
    />
      <tb-user-tasks [user_]="user" [tasks_]="tasks"/>
    </main>
  } @else {
    <div class="flex items-center justify-center min-h-screen">
      <div class="text-center">
        <i class="pi pi-spin pi-spinner text-4xl text-primary mb-4"></i>
        <p class="text-surface-600">Ładowanie danych użytkownika...</p>
      </div>
    </div>
  }
</div>
